body{
    background-color: #222222;
}

header{
    width: 100%;
    height: 840px;
    background-image: url("../assets/images/cover-image.jpg");
    background-size: cover;
    background-position: center;
}





/*Navigation*/

nav{
    width: 100%;
    height: 840px;
    padding-top: 15px;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.nav-con{
    width: 100%;
    height: 55px;
}

.logo{
    width: 180px;
    height: 55px;
    background-image: url('/assets/Logo/stream_logo_white.png');
    background-size: cover;
    background-position: center;
}

.nav-con ul{
    width: 1145px;
    height: 55px;
    list-style: none;
    padding-left: 20%;
    margin-left: 100%;
}

.nav-con li{
    float: left;
    color: white;
    padding-top: 15px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.button-search-p1{
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
    opacity: 0.5;
    border: 3px solid magenta;
    border-radius: 25px;
    padding-left: 15px;
    margin-left: 121.5%;
}





/*Hero Section*/

.artist-album-name{
    padding-left: 50px;
}

.hero-text{
    padding-top: 200px;
    padding-left: 40px;
    color: white;
}

.hero-text h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hero-text h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
}

.hero-buttons{
    width: 652px;
    height: 70px;
    margin-top: 70px;
}

.hero-buttons ul{
    list-style: none;
}

.hero-buttons li{
    float: left;
    border: 3px solid black;
    background-color: purple;
}

.btn-play-shuffle{
    width: 225px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border-radius: 50px;
    text-align: center;
    padding-top: 20px;
    margin-right: 50px;
}

.btn-heart{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none !important;
    text-align: center; /*SVG images are considered text!*/
}

.hero-buttons li:hover{
    cursor: pointer;
    background-color: magenta;
    color: black;
}





/*Featured Artists*/

.ft-artist{
    width: 100%;
    height: 560px;
    margin-top: 250px;
}

.ft-artist-box{
    width: 60%;
    height: 560px;
    background-color: rgba(128, 0, 128, 0.5);
    color: white;
    text-align: justify;
    padding-left: 7%;
    padding-right: 3%;
    padding-top: 25px;
    padding-bottom: 50px;
    float: right;
}

.ft-artist-box h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.ft-artist-box h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.ft-artist-box p{
    font-family: 'Montserrat', sans-serif;
}

.btn-p-n{
    width: 300px;
    height: 50px;
    cursor: pointer;
    margin-top: 130px;
    margin-left: 57%;
}

.btn-p-n ul{
    list-style: none;
}

.btn-p-n li{
    float: right;
}

.btn-p-n img{
    padding-left: 10px;
    padding-right: 10px;
}

.vid-box{
    width: 42%;
    height: 390px;
    background-color: grey;
    position: absolute;
    float: left;
}





/*Recent Releases*/

.recent-releases{
    width: 100%;
    height: 450px;
    margin-top: 580px;
    color: white;
}

.recent-releases h3{
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
}

.page-one-layout{
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-left: 6%;
}

.col-3{
    padding-bottom: 30px;
}

.overlay{
    width: 277px;
    height: 277px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 97px;
    opacity: 0;
}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}

.icon{
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.content{
    width: 277px;
    height: 60px;
    background-color: purple;
    color: white;
    opacity: 0.9;
}

.content p, h6{
    padding-left: 10px;
}

.content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.content h6{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.img-1{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/1.jpg");
    background-position: center;
    background-size: cover;
}

.img-2{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/2.jpg");
    background-position: center;
    background-size: cover;
}

.img-3{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/3.jpg");
    background-position: center;
    background-size: cover;
}

.img-4{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/4.jpg");
    background-position: center;
    background-size: cover;
}





/*Popular Albums*/

.popular-albums{
    width: 100%;
    height: 700px;
    color: white;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.popular-albums h3{
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
}

.img-5{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/5.jpg");
    background-position: center;
    background-size: cover;
}

.img-6{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/6.jpg");
    background-position: center;
    background-size: cover;
}

.img-7{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/7.jpg");
    background-position: center;
    background-size: cover;
}

.img-8{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/8.jpg");
    background-position: center;
    background-size: cover;
}

.img-9{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/9.jpg");
    background-position: center;
    background-size: cover;
}

.img-10{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/10.jpg");
    background-position: center;
    background-size: cover;
}

.img-11{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/11.jpg");
    background-position: center;
    background-size: cover;
}

.img-12{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/12.jpg");
    background-position: center;
    background-size: cover;
}





/*Footer*/

footer{
    width: 100%;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 15px;
    padding-left: 1.5%;
    padding-bottom: 30px;
}

footer p{
    padding-left: 2%;
}

.social-media-links{
    width: 270px;
    height: 50px;
    margin-left: 78%;
}

.social-media-links ul{
    list-style: none;
}

.social-media-links li{
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.facebook{
    width: 50px;
    height: 50px;
    background-color: purple;
    border-radius: 50%;
}

.instagram{
    width: 50px;
    height: 50px;
    background-color: purple;
    border-radius: 50%;
}

.twitter{
    width: 50px;
    height: 50px;
    background-color: purple;
    border-radius: 50%;
}

.youtube{
    width: 50px;
    height: 50px;
    background-color: purple;
    border-radius: 50%;
}

.facebook:hover{
    width: 50px;
    height: 50px;
    background-color: magenta;
    border-radius: 50%;
    cursor: pointer;
}

.instagram:hover{
    width: 50px;
    height: 50px;
    background-color: magenta;
    border-radius: 50%;
    cursor: pointer;
}

.twitter:hover{
    width: 50px;
    height: 50px;
    background-color: magenta;
    border-radius: 50%;
    cursor: pointer;
}

.youtube:hover{
    width: 50px;
    height: 50px;
    background-color: magenta;
    border-radius: 50%;
    cursor: pointer;
}










/*PAGE 2: About Label*/


/*Navigation*/

.about-label{
    width: 100%;
    height: 100px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.button-search-p2{
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
    opacity: 0.5;
    border: 3px solid magenta;
    border-radius: 25px;
    padding-left: 15px;
    margin-left: 119%;
}





/*This Is Us: STREAM*/

.this-is-us{
    width: 100%;
    height: 700px;
    padding-top: 100px;
}

.container-fluid{
    width: 100%;
    height: 500px;
}

.col-6{
    width: 40%;
    height: 500px;
    margin: 0 auto !important;
}

.this-is-us-box{
    height: 500px;
    color: white;
    text-align: justify;
}

.this-is-us-box h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
}

.this-is-us-box p{
    font-family: 'Montserrat', sans-serif;
}

.contact-info{
    width: 100%;
    height: 50px;
    background-color: purple;
    color: black;
    margin-bottom: 5px;
}

.contact-info ul{
    list-style: none;
}

.contact-info li{
    float: left;
    margin-left: 6%;
    margin-right: 7%;
}

.map-box{
    width: 100%;
    height: 186px;
}

.get-in-touch-box{
    color: white;
}

form{
    width: 100%;
    height: 500px;
    background-color: #2b2b2b;
    border-radius: 5px;
    padding-left: 5%;
}

.get-in-touch-box h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

.input-elm{
    width: 95%;
    height: 35px;
    background-color: purple;
    color: white;
    border: 3px solid black;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

select{
    width: 95%;
    height: 35px;
    background-color: purple;
    color: white;
    border: 3px solid black;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

textarea{
    width: 95%;
    height: 125px;
    background-color: purple;
    color: white;
    border: 3px solid black;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

button{
    width: 35%;
    height: 55px;
    background-color: purple;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border: 3px solid black;
    border-radius: 25px;
    margin-left: 59%;
    margin-top: 55px;
}

button:hover{
    background-color: magenta;
}










/*PAGE 3: My Playlists*/


/*Navigation*/

.my-playlists{
    width: 100%;
    height: 100px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.button-search-p3{
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
    opacity: 0.5;
    border: 3px solid magenta;
    border-radius: 25px;
    padding-left: 15px;
    margin-left: 118.5%;
}





/*My Playlists*/

.favorites-mix{
    width: 100%;
    height: 500px;
    color: white;
}

.playlists{
    width: 50%;
    height: 25px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 33%;
}

.playlists ul{
    list-style: none;
}

.playlists li{
    float: left;
    padding-right: 12%;
}

.container{
    width: 100%;
    height: 400px;
    font-family: 'Montserrat', sans-serif;
}

.col-4{
    width: 30%;
    height: 400px;
    margin-right: 2%;
}

.col-1{
    width: 5%;
    height: 400px;
    text-align: center;
}

.col-2{
    width: 20%;
    height: 400px;
    margin-right: 2%;
}

.playlist-box{
    width: 350px;
    height: 350px;
    background-image: url("/assets/images/playlist_cover.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.col-4 h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
}

.col-4 h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}





/*Footer*/

.page-3{
    margin-bottom: 50px;
}

.player-line{
    width: 97%;
    height: 50px;
    margin-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
}

.line{
    width: 100%;
    height: 5px;
    background-color: #2b2b2b;
}

.inner-line{
    height: 5px;
    width: 30%;
    background-color: magenta;
}

.marker{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: magenta;
    margin-left: 30%;
    margin-top: -12px;
}

.artist-img{
    width: 50px;
    height: 50px;
    background-image: url("/assets/images/Lana-Del_Rey.jpeg");
    background-size: cover;
    background-position: center;
    margin-top: 25px;
}

.currently-playing{
    width: 100%;
    height: 100px;
}

.currently-playing ul{
    list-style: none;
}

.currently-playing li{
    float: left;
    padding-right: 3.8%;
}

.currently-playing p{
    width: 110%;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}

.previous{
    cursor: pointer;
    margin-top: 25px;
    margin-left: 13%;
}

.pause{
    cursor: pointer;
}

.next{
    cursor: pointer;
    margin-top: 25px;
    margin-right: 20%;
}

.more-info{
    cursor: pointer;
    margin-top: 30px;
}