body{
    background-color: black;
}

header{
    width: 100%;
    height: 840px;
    background-image: url("../assets/images/cover-image.jpg");
    background-size: cover;
    background-position: center;
}




/*Navigation*/

nav{
    width: 100%;
    height: 840px;
    padding-top: 15px;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.logo{
    float: left;
    padding-right: 1.5%;
    color: white;
}

.nav-con{
    width: 100%;
    height: 50px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    color: white;
    padding-top: 8px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.button-search{
    width: 15.5%;
    height: 40px;
    background-color: black; /*How do I change text colour?*/
    opacity: 0.5;
    float: right;
    padding-left: 15px;
    border: 3px solid cyan;
    border-radius: 25px;
}




/*Hero Section*/

.artist-album-name{
    padding-left: 50px;
}

.hero-text{
    padding-top: 200px;
    padding-left: 40px;
    color: white;
}

.hero-buttons{
    width: 652px;
    height: 70px;
    margin-top: 70px;
}

.hero-buttons ul{
    list-style: none;
}

.hero-buttons li{
    float: left;
    border: 3px solid cyan;
}

.btn-play-shuffle{
    width: 225px;
    height: 70px;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding-top: 20px;
    margin-right: 50px;
}

.btn-heart{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none !important;
    text-align: center; /*SVG images are considered text!*/
}

.hero-buttons li:hover{
    cursor: pointer;
    background-color: cyan;
    color: black;
}




/*Featured Artists*/

.ft-artist{
    width: 100%;
    height: 560px;
    margin-top: 250px;
}

.ft-artist-box{
    width: 60%;
    height: 560px;
    background-color: #2b2b2b;
    opacity: 0.7;
    color: white;
    padding-left: 7%;
    padding-right: 3%;
    padding-top: 25px;
    padding-bottom: 50px;
    float: right;
}

.btn-p-n{
    width: 300px;
    height: 50px;
    margin-top: 230px;
    margin-left: 70%;
}

.btn-p-n ul{
    list-style: none;
}

.btn-p-n li{
    float: right;
}

.btn-p-n img{
    padding-left: 10px;
    padding-right: 10px;
}


.vid-box{
    width: 42%;
    height: 390px;
    background-color: grey;
    position: absolute;
    float: left;
}




/*Recent Releases*/

.recent-releases{
    width: 100%;
    height: 450px;
    margin-top: 580px;
    color: white;
    background-color: ;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.recent-releases h3{
    padding-left: 30px;
}

.page-one-layout{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-color: ;
}

.col-3{
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}



.overlay{
    width: 277px;
    height: 277px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 97px;
    opacity: 0;
}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}

.icon{
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.content{
    width: 277px;
    height: 60px;
    background-color: black;
    color: white;
    opacity: 0.9;
}

.content p, h6{
    padding-left: 10px;
}

.img-1{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/1.jpg");
    background-position: center;
    background-size: cover;
}

.img-2{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/2.jpg");
    background-position: center;
    background-size: cover;
}

.img-3{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/3.jpg");
    background-position: center;
    background-size: cover;
}

.img-4{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/4.jpg");
    background-position: center;
    background-size: cover;
}




/*Popular Albums*/

.popular-albums{
    width: 100%;
    height: 700px;
    color: white;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.popular-albums h3{
    padding-left: 30px;
}

.img-5{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/5.jpg");
    background-position: center;
    background-size: cover;
}

.img-6{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/6.jpg");
    background-position: center;
    background-size: cover;
}

.img-7{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/7.jpg");
    background-position: center;
    background-size: cover;
}

.img-8{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/8.jpg");
    background-position: center;
    background-size: cover;
}

.img-9{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/9.jpg");
    background-position: center;
    background-size: cover;
}

.img-10{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/10.jpg");
    background-position: center;
    background-size: cover;
}

.img-11{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/11.jpg");
    background-position: center;
    background-size: cover;
}

.img-12{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/12.jpg");
    background-position: center;
    background-size: cover;
}




/*Footer*/

footer{
    width: 100%;
    height: 150px;
    color: white;
    margin-top: 15px;
    padding-left: 1.5%;
    padding-bottom: 30px;
}

.nav-con{
    width: 100%;
    height: 50px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    color: white;
    padding-top: 8px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.social-media-links{
    width: 250px;
    height: 50px;
    margin-left: 80%;
}

.social-media-links ul{
    list-style: none;
}

.social-media-links li{
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}











/*PAGE 2: About Label*/


/*Navigation*/

.about-label{
    width: 100%;
    height: 100px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}




/*This Is Us: STREAM*/

.this-is-us{
    width: 100%;
    height: 600px;
    color: white;
}

.page-two-layout{
    width: 100%;
    margin-top: 175px;
}

.this-is-us-box{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.contact-info{
    width: 100%px;
    height: 50px;
    margin-top: 60px;
}

.contact-info ul{
    list-style: none;
}

.contact-info li{
    float: left;
    padding-right: 100px;
}

.contact-info li img{
    padding-right: 10px;
}

.map-box{
    width: 100%;
    height: 200px;
    background-color: gray;
    margin-top: 20px;
}

.get-in-touch-box{
    width: 70%;
    height: 540px;
    background-color: #2b2b2b;
    opacity: 0.7;
    margin: 0 auto;
    margin-bottom: 80px;
}

form{
    width: 90%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 50px;
}

.get-in-touch-box h3{
    padding-bottom: 25px;
}

.input-elm{
    width: 90%;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: gray;
    color: white;
}

select{
    width: 90%;
    height: 35px;
    background-color: gray;
    color: white;
    border-radius: 25px;
    margin-top: 15px;
}

textarea{
    width: 90%;
    height: 70px;
    background-color: gray;
    color: white;
    border-radius: 25px;
    margin-top: 15px;
}

button{
    width: 35%;
    height: 55px;
    background-color: cyan;
    color: black;
    border: none;
    border-radius: 25px;
    margin-left: 265px;
    margin-top: 30px;
}










/*PAGE 3: My Playlists*/


/*Navigation*/

.my-playlists{
    width: 100%;
    height: 100px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}





/*My Playlists*/

.page-three-layout{
    width: 100%;
    margin-top: 175px;
    padding-left: 122px;
    padding-right: 122px;
    color: white;
}

.playlist-box{
    width: 470px;
    height: 470px;
    background-image: url("/assets/images/page_3_favourites_mix.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 160px;
}

.playlist-box h1{
    font-size: 70px;
}

.playlist-box h2{
    font-size: 50px;
}

.song-queue-box{
    width: 550px;
    height: 470px;
}





/*Footer*/

.page-3{
    margin-top: 150px;
}

.player-line{
    width: 97%;
    height: 50px;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 1%;
}

.line{
    width: 100%;
    height: 5px;
    background-color: #2b2b2b;
}

.inner-line{
    height: 5px;
    width: 30%;
    background-color: cyan;
}

.marker{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: cyan;
    margin-left: 30%;
    margin-top: -12px;
}

.artist-img{
    width: 50px;
    height: 50px;
    background-image: url("/assets/images/page_3_artist_image.png");
    background-size: cover;
    background-position: center;
}

.currently-playing{
    width: 100%;
    height: 100px;
}

.currently-playing ul{
    list-style: none;
}

.currently-playing li{
    float: left;
    padding-right: 50px;
}

