body{
    background-color: black;
}

header{
    width: 100%;
    height: 840px;
    background-image: url("../assets/images/cover-image.png");
    background-size: cover;
    background-position: center;
}




/*Navigation*/

nav{
    width: 100%;
    height: 840px;
    background-color: ;
    padding-top: 15px;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.logo{
    float: left;
    padding-right: 1.5%;
    color: white;
}

.nav-con{
    width: 100%;
    height: 50px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    color: white;
    padding-top: 8px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.button-search{
    width: 15.5%;
    height: 40px;
    background-color: black; /*How do I change text colour?*/
    opacity: 50%;
    float: right;
    padding-left: 15px;
    border: 3px solid cyan;
    border-radius: 25px;
}




/*Hero Section*/

.artist-album-name{
    padding-left: 50px;
}

.hero-text{
    padding-top: 200px;
    padding-left: 40px;
    color: white;
}

.hero-buttons{
    width: 652px;
    height: 70px;
    margin-top: 70px;
}

.hero-buttons ul{
    list-style: none;
}

.hero-buttons li{
    float: left;
    border: 3px solid cyan;
}

.btn-play-shuffle{
    width: 225px;
    height: 70px;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding-top: 20px;
    margin-right: 50px;
}

.btn-heart{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none !important;
    text-align: center; /*SVG images are considered text!*/
}

.hero-buttons li:hover{
    cursor: pointer;
    background-color: cyan;
    color: black;
}




/*Featured Artists*/

.ft-artist{
    width: 100%;
    height: 560px;
    margin-top: 250px;
}

.ft-artist-box{
    width: 60%;
    height: 560px;
    background-color: #2b2b2b;
    opacity: 70%;
    color: white;
    padding-left: 7%;
    padding-right: 3%;
    padding-top: 25px;
    padding-bottom: 50px;
    float: right;
}

.btn-p-n{
    width: 300px;
    height: 50px;
    margin-top: 260px;
    margin-left: 70%;
}

.btn-p-n ul{
    list-style: none;
}

.btn-p-n li{
    float: right;
}

.btn-p-n img{
    padding-left: 10px;
    padding-right: 10px;
}


.vid-box{
    width: 42%;
    height: 390px;
    background-color: grey;
    position: absolute;
    float: left;
}




/*Recent Releases*/

.recent-releases{
    height: 400px;
    margin-top: 580px;
    color: white;
    background-color: red;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.recent-releases h3{
    padding-left: 30px;
}

.page-one-layout{
    width: 100%;
    height: 584px;
    margin: 0 auto;
    background-color: pink;
}



.album-info{
    width: 277px;
    height: 80px;
    background-color: #2b2b2b;
    color: white;
}

.img-1{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/1.png");
}

.img-2{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/2.png");
}

.img-3{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/3.png");
}

.img-4{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/4.png");
}




/*Popular Albums*/

.popular-albums{
    height: 650px;
    color: white;
    background-color: green;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.popular-albums h3{
    padding-left: 30px;
}

.img-5{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/5.png");
}

.img-6{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/6.png");
}

.img-7{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/7.png");
}

.img-8{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/8.png");
}

.img-9{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/9.png");
}

.img-10{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/10.png");
}

.img-11{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/11.png");
}

.img-12{
    width: 277px;
    height: 277px;
    background-image: url("/assets/images/12.png");
}




/*Footer*/

footer{
    width: 100%;
    height: 100px;
    color: white;
    margin-top: 80px;
    padding-left: 30px;
}

.nav-con{
    width: 100%;
    height: 50px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    color: white;
    padding-top: 8px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.social-media-links{
    height: 50px;
    width: 500px;
    background-color: red;
}

.social-media-links ul{
    list-style: none;
}











/*PAGE 2: About Label*/


/*Navigation*/

.about-label{
    width: 100%;
    height: 100px;
    background-color: white; /*Need to fix this (supposed to have no background colour I think?*/
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}




/*This Is Us: STREAM*/

.this-is-us{
    width: 100%;
    height: 600px;
}

.page-two-layout{
    width: 100%;
    margin-top: 175px;
}

.this-is-us-box{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.map-box{
    width: 100%;
    height: 200px;
    background-color: gray;
    margin-top: 108px;
}

.get-in-touch-box{
    width: 70%;
    height: 500px;
    background-color: lightgray;
    margin: 0 auto;
    margin-bottom: 80px;
}

form{
    width: 90%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 50px;
}

.get-in-touch-box h3{
    padding-bottom: 25px;
}

.input-elm{
    width: 90%;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: gray;
    color: white;
}

select{
    width: 90%;
    height: 35px;
    background-color: gray;
    color: white;
    border-radius: 25px;
    margin-top: 15px;
}

textarea{
    width: 90%;
    height: 70px;
    background-color: gray;
    color: white;
    border-radius: 25px;
    margin-top: 15px;
}

button{
    width: 35%;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin-left: 290px;
    margin-top: 30px;
}




/*Footer*/

.page-2{
    margin-top: 50px;
}










/*PAGE 3: My Playlists*/


/*Navigation*/

.my-playlists{
    width: 100%;
    height: 100px;
    background-color: white; /*Need to fix this (supposed to have no background colour I think?*/
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}




/*Footer*/

.page-three-layout{
    width: 100%;
    margin-top: 175px;
    padding-left: 122px;
    padding-right: 122px;
}

.playlist-box{
    width: 470px;
    height: 470px;
    background-color: lightgray;
    color: white;
    text-align: center;
    padding-top: 180px;
}

.song-queue-box{
    width: 550px;
    height: 470px;
}

.page-3{
    margin-top: 150px;
}

